/* =========NAV==========*/
nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 10vh;
   background: red;
   color: #c0c0c0;
}

.nav-Links{
   width: 50%;
   flex-direction: row;
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none;
}

.nav-Links li:hover{
   color: #6600cc;
   cursor: pointer;
}
/* =========HOME==========*/
.home-container {
   background: lightgrey;
   display: flex;
   flex-direction: column;
   text-align: center;
   image-orientation: center;
}

.home-container img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 25%;
   height: 15%;
}

/* =========ABOUT==========*/
.About-container{
   background: #e6f2ff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.MeImages img{
   display: inline-flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 40vmin;
   height: 40vmin;
   min-width: 350px;
   min-height: 250px;
   margin: 20px;
   object-fit: cover;
}
#text{
   margin: 15px;
   text-align: center;
}
#text h5{
   margin: 25px;
   font-weight: bold;
}

/* =========CONTACT==========*/
.contact-container{
   background: lightgrey;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.contact-container img{
   width: 260px;
   height: 350px;
   margin: 10px;
}
/* =========PORTFOLIO/RESUME==========*/
.portfolio{
   background: #e6f2ff;
}
#resume{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#resume a button{
   margin-bottom: 20px;
}
#resume button:hover{
   color: red;
   cursor: pointer;
}
#resume img{
      width: 40vmin;
      height: 40vmin;
      min-width: 300px;
      min-height: 390px;
}

#projects{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#projects img{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 40vmin;
   height: 40vmin;
   min-width: 500px;
   min-height: 560px;
   padding: 28px;
   box-shadow: 3px 3px 3px 3px lightblue;
}
#projects img:hover{
   transform: translateY(-8px);
}

#pro-text h1{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #6600cc;
   text-decoration: underline;
   font-weight: bold;
   font-size: 400%;
   padding: 15px;
}
#project-list{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#project-list button{
   margin-bottom: 30px;
   color: blue;
   border-radius: 5px;
}
#project-list button a{
   color: blue;
   font-weight: bolder;
}
#project-list button:hover{
   transform: translateY(-8px);
}
#projects h2{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: red;
   font-weight: bold;
   padding: 10px;
}
#projects p{
   padding: 15px;
   margin: auto;
   text-align: center;
   font-weight: bold;
}
#projects button{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: darkgrey;
}
/* ==========ICONS==========*/
.icons div{
   width: 10px;
   height: 10px;
}
.textcenter{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
   text-decoration: underline;
   font-weight: bolder;
   color: #6600cc;
   margin-bottom: 35px;
}
svg{
   width: 80px;
   height: 80px;
   margin: 15px;
   box-shadow: 3px 3px 3px 3px lightgrey;
}

svg:hover{
   transform: translateY(-10px);
}
/* ==========FOOTER==========*/
.footer-container {
    text-align: center;
    border: 2px solid #6adceb;
    border-radius: 10px;
    background: #a1b9f7;
    padding: 20px;
    margin-bottom: 20px;
}

.footer-container ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
}

.footer-container li {
    text-align: center;
}

.footer-container i {
    margin: 0px 10px;
    color: red);
    font-size: 1.5em;
    transition: .2s ease-in-out;
}

.footer-container i:hover {
    color: red;
}


/*================== TABLET/PHONE STYLES ==================*/

@media only screen and (min-width: 768px) {


   .MeImages img{
      display: inline-flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 40vmin;
      height: 40vmin;
      min-width: 350px;
      min-height: 250px;
      margin: 20px;
      object-fit: cover;
   }
   .nav-Links li:hover{
      color: #6600cc;
      cursor: pointer;
   }
}

@media only screen and (min-width: 414px){

}
