/* =========NAV==========*/
nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 10vh;
   background: red;
   color: #c0c0c0;
}

.nav-Links{
   width: 50%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none;
}

.nav-Links li:hover{
   color: #6600cc;
   cursor: pointer;
}
/* =========HOME==========*/
.home-container {
   background: lightgrey;
   display: flex;
   flex-direction: column;
   text-align: center;
   image-orientation: center;
}

.home-container img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 25%;
   height: 15%;
}

/* =========ABOUT==========*/
#AboutMe{
   text-align: center;
}
.MeImages img{
   width: 40vmin;
   height: 40vmin;
   min-width: 350px;
   min-height: 250px;
   object-fit: cover;
   display: inline;
   margin-left: 70px;
}
#text{
   text-align: center;
   margin-left: 30px;
}

/* =========CONTACT==========*/

/* =========PORTFOLIO/RESUME==========*/
#resume img{
   width: 40vmin;
   height: 40vmin;
   min-width: 280px;
   min-height: 390px;
   object-fit: cover;
   display: block;
   margin-right: auto;
   margin-left: 70px;
}
#resume h1{
   text-align: center;
}
#resume button{
   align: center;
}
#projects img{
   width: 40vmin;
   height: 40vmin;
   min-width: 500px;
   min-height: 560px;
   object-fit: cover;
   display: inline;
   margin-left: 70px;
   padding: 28px;
}
#pro-text h1{
   text-align: center;
   text-decoration: underline;
   color: Purple;
   font-weight: bold;
   padding: 15px;
}
#projects h2{
   text-align: center;
   text-decoration: underline;
   color: red;
   font-weight: bold;
   padding: 10px;
}
#projects{
   display: flex;
   flex-direction: row;
   flex-flow: wrap;
   align-items: center;
   justify-content: space-between;
}
#projects p{
   text-align: center;
   font-weight: bold;
   padding: 15px;
   margin: auto;
}
#projects button{
   color: darkgrey;
   align-self: center;
}
/* ==========ICONS==========*/
.icons-container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: baseline;
   justify-content: space-around;
}
.icons{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 80px;
   height: 80px;

   padding: 10px;
   border: solid black;
}
.icons div p{
   margin: auto;
   padding: 10px;
   border: solid black;
}


/* ==========FOOTER==========*/
.footer-container {
    text-align: center;
    border: 2px solid #6adceb;
    border-radius: 10px;
    background: #a1b9f7;
    padding: 20px;
    margin-bottom: 20px;
}

.footer-container ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
}

.footer-container li {
    text-align: center;
}

.footer-container i {
    margin: 0px 10px;
    color: red);
    font-size: 1.5em;
    transition: .2s ease-in-out;
}

.footer-container i:hover {
    color: red;
}
